@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --rem : 10px;
    font-size: var(--rem);
}

@font-face {
    font-family: 'primary';
    src: url("/fonts/JejuMyeongjo-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

